
body {
  background-color: #000000;
}

#wrapper {
  background-image: url("../imgs/nuclearB.jpg");
  background-repeat: no-repeat;
  background-color: black;
  height: 500px;
  width: 1300px;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  
}

#play {
  font: 40px arial bold;
  color: #a0cf04;
  margin-top: 25%;
  height:100px; 
  width:200px; 
  background-color: #72031be1;
  border-radius: 5px;
  border-color: #e6e600;
  box-shadow: 7px 5px #262722 ;
  

}